.wrapper{
    /*border:2px solid black;*/
    display: flex;
    justify-content: space-between;
    width: 600px;



}
.contentWrap{
    /*border:2px solid #802d2d;*/
    display: flex;
    justify-content: space-around;
    width: 400px;
}

span .pageNumber{
    font-family: "Arial Black";
    width: 20px;
    /*opacity: 30%;*/
    cursor: pointer;
    color: #beb2b2;
}

span.selectedPage .pageNumber{
    font-weight: bold ;
    /*opacity:1;*/
    text-decoration: underline;
    color: #696363;

}
span .pageNumber:hover{
    /*opacity: 1;*/


}
.button {
    display: flex;
    border-radius: 10%;
    /*border:1px solid green;*/
    width: 45px;
    cursor: pointer;
    justify-content: center;
    font-family: Anton;
    letter-spacing: 2px;

}
