.registration{
    width: 100%;
    height: 90vh;
}
.form__wrapper{
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form__content {
    padding: 25px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form__content_email,
.form__content_password{
    padding: 5px;
    width: 300px;
}

.form__content_email h4,
.form__content_password h4{
    padding: 10px 15px;
    text-align: left;
}

.form__content_email input,
.form__content_password input{
    width: 90%;
    padding: 5px 10px;
    outline: none;
}

.form__content_btn{
    margin-top: 10px;
}
.form__content_btn button{
    padding: 5px 10px;
    outline: none;
}