.wrapper{
    display: flex;
    padding-top: 20px;

}

form .group {
    position: relative;
    margin-bottom: 30px;
}

form .group input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 2px solid #00EA90;
}
form .group input:focus {
    outline: none;
}
form .group label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
form .group input:focus ~ label, form .group input:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
}

 .group .bar {
    position: relative;
    display: block;
    width: 320px;
}
.group.bar:before, .group .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.group.bar:before {
    left: 50%;
}
.group.bar:after {
    right: 50%;
}

form .group input:focus ~ .group .bar:before,
form .group input:focus ~ .group .bar:after {
    width: 50%;
}

form .group .inputSelectorBlue{
    border-bottom: 2px solid #3f5cff;
}
form .group .inputSelectorBlack{
    border-bottom: 2px solid #000102;
}